body{
    overflow: hidden;
}
.pee{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    position: relative;
    top: 20px;
    margin-left: 400px;
    font-weight: bolder;
   
}

.card-body{
    background: black;
    
    
}

a{
    color: red;
    text-decoration: none;
}

a:hover{
    color: white;
}

.over{
    position: relative;
    top: 100px;
}

.word{
    font-size: 15px;
    position: relative;
    top: 50px;
    left: 400px;
}

.form-control{
    width:40%;
    background-color:rgb(232, 228, 228);
}

.form-label{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: large;
font-weight: bolder;
}

.calf{
    font-size: 20px;
    color: red;
    margin-left: 20%;
    margin-top:5%;
    
}

.g5{
    position: relative;
    top: 50px;
    left: 400px;
    
}

.bugg{
    background:  rgb(220, 73, 139);
    position: relative;
    top: 50px;
    left: 400px;
    width: 20%;
    height: 40px;
    border: 1px solid pink;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

.error{
    position: fixed;
    margin-left:25% ;
}

@media screen and (max-width:768px){

    .rain{
        position:fixed;
     width: 100%;
     right: 395px;
     

    }

    .bugg{
        background:  rgb(220, 73, 139);
        position: relative  ;
        top: 50px;
        left: 400px;
        width: 50%;
        height: 40px;
        font-size: small;
        border: 1px solid pink;
        cursor: pointer;
        border-radius: 10px;
        color: white;
    }


    .form-control{
        width: 80%;
        background-color:rgb(232, 228, 228);
    }

    .over{
        position: relative;
        top: 30px;
    }
     .ego{
        display: none;
    }
    .egoss{
        display: none;
    }
    .ram{
        position:relative;
        top: 10px;
    }
    .card-body{
        position: relative;
    }
   
    .pee{
position: relative;
    }

    .calf{
        white-space: nowrap;
        font-size: small;
        color: red;
        margin-left: 84%;
        margin-top: 20%;
    }

    .error{
        position: fixed;
        margin-left: 55%;
    }
}
